@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Reddit Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-primary: 59 130 246;
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}

@layer utilities {
    .debug-primary {
        background-color: rgb(var(59 130 246));
    }
}

@keyframes logo-bounce-fade {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50% {
        transform: translateY(-12px);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

.animate-logo-bounce-fade {
    animation: logo-bounce-fade 1.6s ease-in-out infinite;
}

.pulse-ring {
    position: absolute;
    inset: 0;
    border-radius: 1000px;
    border: 0; /* warna ring */
    animation: ring-pulse 1.8s ease-out infinite;
}

@keyframes ring-pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    70% {
        transform: scale(1.4);
        opacity: 0;
    }
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}
